/* CSS Variables */
:root {
  --main-font: 'Roboto', sans-serif;
  --about-font: 'Martel', serif;
}

/* Mobile */

/* Responsive Section */

/* Buttons */

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1420px;
  margin: auto;
  /* border: thin solid black; */
  height: inherit;
}

/* Header */
#header-top {
  font-family: var(--main-font);
  height: 16.9vh;
  /* border: thin solid black; */
}

.navbar-top {
  height: inherit;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 1fr;
}

.navbar-top-branding {
  display: flex;
  flex-flow: row nowrap;
  font-size: 24px;
  margin-left: 64px;
}

.navbar-top-branding .logo {
  width: 40px;
}

.navbar-top-branding .brand {
  padding-left: 8px;
  display: flex;
  align-items: center;
  font-size: inherit;
}

.navbar-top-links {
  list-style: none;
  padding-left: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar-top-links .single-link a {
  color: black;
  text-decoration: none;
  /* border: thin solid black; */
  padding-right: 110px;
  font-weight: bold;
  font-size: 17px;
}

#get-started {
  font-family: var(--main-font);
  width: 500px;
  height: 83.1vh;
  /* border: thin solid black; */
  margin: auto;
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.branding-container {
  /* border: thin solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.branding-container .major {
  /* font-weight: bolder; */
  font-size: 38px;
}

.get-started-button {
  font-weight: bold;
  font-size: 14px;
  width: 115px;
  height: 40px;
  border: none;
  margin-top: 10px;
  border-radius: 50px;
  background-color: black;
  color: #FFFFFF;
  box-shadow: 0px 5px 5px gray;
}

/* About */
#about {
  font-family: var(--about-font);
  height: 870px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.about-text {
  /* border: thin solid black; */
  width: 550px;
  height: 300px;
}

.about-title {
  width: 120px;
  margin-bottom: 5px;
}

.about-title h3 {
  font-size: 34px;
  font-weight: normal;
  width: 100px;
  height: 60px;
  margin-bottom: 20px;
  border-bottom: medium solid black;
}

.about-graphics {
  width: 500px;
  /* border: thin solid black; */
  
}

.graphic {
  width: 500px;
}

/* Footer */
.footer-bottom {
  height: 50px;
  background-color: black;
}

.footer-text {
  /* border: thin solid black; */
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

/* Page Transition animations */
